In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame.from_dict(
    {
        'name': ['Joe', 'Mike', 'Ash', 'Emily'],
        'gender': ['M', 'M', 'F', 'F'],
        'treatment': ['Y', 'N', 'Y', 'N'],
        'outcome with treatment': [10, 8, 5, 7],
        'outcome without treatment': [11, 7, 12, 8],
    }
)

df

    name gender treatment  outcome with treatment  outcome without treatment
0    Joe      M         Y                      10                         11
1   Mike      M         N                       8                          7
2    Ash      F         Y                       5                         12
3  Emily      F         N                       7                          8

In [ ]:
ATE = E[outcome if treated - outcome if not treated] for all

In [ ]:
ATC = 
ATT =